<header class="main-header">
  <a href="" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>MP</b>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>M</b>ODULAR
      <b>P</b>LATFORM</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="http://github.com/hstarorg/ngx-modular-platform/issues/new" target="_blank">
            <i class="fa fa-paper-plane-o"></i> 提交Bug
          </a>
        </li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs">
              <i class="fa fa-free-code-camp"></i> 捐助我</span>
          </a>
          <ul class="dropdown-menu praise-ul">
            <!-- User image -->
            <li class="user-header">
              <div class="praise">
                <img src="http://mock.hstar.org/static/img/alipay.ddb0b8b.jpg" alt="Alipay">
                <img src="http://mock.hstar.org/static/img/wechat.151fc01.png" alt="Wepay">
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="user-image" src="https://avatars3.githubusercontent.com/u/4043284" alt="User Avatar">
            <span class="hidden-xs">Jay.M.Hu</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img class="img-circle" src="https://avatars3.githubusercontent.com/u/4043284" alt="User Avatar">
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<aside class="main-sidebar">
  <section class="sidebar">
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <j-menu [menuData]="menuData"></j-menu>
  </section>
</aside>
<div class="content-wrapper">
  <section class="content-header">
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section class="content">
    <j-tabset [(selected)]="selectedPage">
      <j-tab-item *ngFor="let p of pageList" [header]="p.header" [comp]="p.comp" [name]="p.name" [closable]="p.closable">
      </j-tab-item>
    </j-tabset>
    <!-- <router-outlet></router-outlet> -->
  </section>
</div>