<header>
  <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>        <a href="/" class="navbar-brand">NG2-MODULAR_PLATFORM</a></div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item"><a href="javascript:void(0);" routerLink="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="javascript:void(0);" routerLink="/demo1" class="nav-link">Demo1</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="page-view-container" style="margin-top: 50px;">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>