<div class="j-tabset nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li *ngFor="let tab of tabItems" [ngClass]="{active: tab.active}" (click)="setActiveItem(tab)">
      <a href="javascript:;">
        <i *ngIf="tab.icon" [ngClass]="tab.icon"></i> {{tab.header}}
        <i [hidden]="!tab.closable" (click)="removeTab($event, tab)" class="fa fa-times-circle tab-close"></i>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <j-tab-item *ngFor="let p of data" [header]="p.header" [comp]="p.comp" [name]="p.name" [closable]="p.closable">
    </j-tab-item>
  </div>
</div>